.App {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
html {
  background-color: antiquewhite
}
.main {
  display: flex;
  justify-content: space-around;
}

a {
  text-decoration: none;
}

a:hover {
  color: plum;
}

.error {
  color: red;
}